
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@400;700&display=swap');



.box{
  max-width :100%; ;
  background-color: #001219;
  padding: 100px;

}

.SearchBar{

padding-bottom: 1.5%;
 margin-right: 20%;
 border-radius: 6px;
}

.SearchBar:hover{
box-shadow: 0 0 100px white; 

} 


.Hero-heading{
  padding-right: 5%;
  padding-left: 5%;
}

.hero-image{
width: 50%;
transform: rotate(-25deg);


}


.brand-name{
height: 64px;
width: 310px;
color: #EE9B00;
}

.brand-statement{
 font-family: Poppins; 
 font-weight: 700; 
 font-size: 5rem;
 color: #0A9396;
}

.brand-sub-statement{
  font-family: Poppins;
  font-size: 1.5rem;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 3%;
  padding-bottom: 3%;
  
}

/* MEDIA QUERIES */
@media(max-width:1176px){
  .hero-image{
    transform: rotate(0);
    margin-left: 15%;
    margin-top: 15%;
  }

}

